 body{
         background-color: #ACD8E5;
         font-family : Goudy Old Style;
       }
       #u1{
        color:red;
        font-size:40px ;
       }
       #u2{
        color:blue;
        font-size:40px ;
       }
       #u3{
        color:green;
        font-size:40px ;
       }
